.app-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px auto 50px;
    grid-template-areas:
            "h h h h"
            "n   c c c"
            "f f f f";
}

.footer {
    grid-area: f;
    background-color: yellow;
}
