.app-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px auto 50px;
    grid-template-areas:
            "h h h h"
            "n   c c c"
            "f f f f";
}



.navbar {
    grid-area: n;
    background-color: rgba(10, 12, 20, 0.5);

}

.navContent {
    margin: 15px 20px;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-family: "Bodoni MT Poster Compressed";
    color: yellow;
}
.content {
    grid-area: c;
    background-color: greenyellow;
}

.footer {
    grid-area: f;
    background-color: yellow;
}



.content img {
    height: 80%;
    width: 100%;
}

.postsContent {
    font-size: 20px;
    padding: 10px 0 10px 10px;
}

