.app-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px auto 50px;
    grid-template-areas:
            "h h h h"
            "n   c c c"
            "f f f f";
}

.header {
    grid-area: h;
    background-color: blue;
}

.navbar {
    grid-area: n;
    background-color: red;
}

.content {
    grid-area: c;
    background-color: greenyellow;
}

.footer {
    grid-area: f;
    background-color: yellow;
}

.header img {
    margin: 5px 0 0 15px;
    width: 60px;
    border-radius: 50%;
}

.content img {
    height: 80%;
    width: 100%;
}

.postsContent {
    padding: 10px 0 10px 10px;
}

