.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.wrapper {
    margin: 15px;
}

button {
    margin-bottom: 10px;
}

.selectedPage {
    color: #3a7999;
    font-weight: bold;
}